<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/users">Usuarios</a>
      <a mat-list-item routerLink="/blog">Blogs</a>
      <a mat-list-item routerLink="/pokemones">Pokemones</a>
      <a mat-list-item routerLink="/login">Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="accent">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    <!-- Aquí va el contenido principal del blog -->
    <ng-container *ngIf="pokemons.length > 25; else loading">
      <!-- Código de la tabla de pokemones -->
    </ng-container>

    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
</mat-sidenav-container>
